/* ==========================================================================
   Components
   ========================================================================== */

.champion-block {
    display: flex;
    flex-flow: flex wrap;
}

.displaymode-menu {
    a {
        opacity: 0.6;
        &.active,
        &:hover {
            opacity: 1;
        }
    }
}
