/* ==========================================================================
   Layouts
   ========================================================================== */
.sec {
    display: block;
}
.sec--head {
    @extend .sec;
}

body {
    background: black;
    display: flex;
    color: white;
}
a {
    color: #eee;
    &[ng-click] {
        cursor: pointer;
    }
}
ul {
    list-style: none;
}
.hidden {
    display: none;
}

.data--list {
    padding: 0 20px;
    .item {
        height: 60px;
        line-height: 40px;
        transition: background 100ms ease-in-out;
        &:hover {
            background: #404040;
        }
        .champ-image {
            display: block;
            float: left;
        }
        .champ-label {
            float: left;
            margin-left: 10px;
            font-size: 16px;
            font-weight: 700;
        }
        .champ-link {
            display: block;
            text-decoration: none;
            width: 100%;
            height: 60px;
            padding: 10px 0;
        }
        + .item {
            border-top: 1px solid #ccc;
        }
        &:not(:last-item) {
            border-bottom: 1px solid #777;
        }
    }
}

.data--grid {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    .champ-link {
        display: block;
    }
    .champ-image {
        display: block;
        width: 60px;
        height: 60px;
    }
}
